body {
    background: url("../images/bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Chewy', cursive;
    color: white;
}

#background-transparency {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #008CBA;
    opacity: 0.4;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

a {
    color: #008CBA;
    text-decoration: none;
}

#search-container {
    margin: 10px auto 10px auto;
    position: relative;
}

#add-movie {
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: center;
}

#movie-form {
    width: 400px;
    position: relative;
}

#results-div {
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#movie-input {
    width: 370px;
    padding: 8px;
    margin: 5px;
    border: 1px solid lightgray;
    border-radius: 5px
}

#search-movie {
    position: absolute;
    top: 5px;
    right: 0;
}

#search-movie, .add-button, .checkbox, #close-button {
    padding: 5px 10px;
    background-color: #008CBA;
    color: white;
    font-family: 'Chewy', cursive;
    font-size: 12pt;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.results {
    position: relative;
    width: 250px;
    height: 398px;
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
}

.result-img {
    width: 250px;
    height: 398px;
    z-index: 5;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(255,255,255,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(255,255,255,0);
}

.movie-info {
    position: absolute;
    top: 50px;
    left: 15px;
    height: 200px;
    width: 200px;
    padding: 50px 10px;
    background-color: black;
    border-radius: 20px;
    opacity: 0;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.results:hover .movie-info {
    opacity: 0.9;
    transition: .5s ease;
    z-index: 6;
}

.watch-trailer {
    cursor: pointer;
}

.add-button {
    width: 140px;
}

.wishlist {
    margin: 10px;
    height: 250px;
    position: relative;
}

#main-container {
    display: flex;
}

#search-container {
    flex: 3;
}

#wishlist-container {
    flex: 1;
    background-image: url("../images/darkmosaic.png");
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.movie-wish {
    height: 250px;
    width: 170px;
    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(255,255,255,0); 
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 5px 5px 15px 5px rgba(255,255,255,0);
}

.checkbox {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#video-player {
    position: fixed;
    width: 853px;
    height: 480px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -426px;
    z-index: 100;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.9;
    z-index: 99;
}

#close-button {
    position: absolute;
    top: -30px;
    right: 0;
}

#home {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

#wishlist-toggle {
    position: absolute;
    top: 0;
    right: 2px;
    cursor: pointer;
}

#footer-note {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-style: italic;
    font-size: 10pt;
}